<div class="p-10 h-auto justify-center items-center">

	<h1 class="text-5xl mb-10">Ops! Não encontramos essa página</h1>

	<p class="mb-10">Não conseguimos identificar qual página está tentando acessar. Clique abaixo para voltar a navegar</p>
	<a class="px-8 py-4 rounded-lg bg-orange-500 hover:bg-orange-600 text-white hover:text-white text-xl hover:no-underline" href="{{ BASE }}">Voltar ao início</a>

</div>